<app-header></app-header>
<app-side-nav></app-side-nav>
<div class="container text-center "> 
    <form>
      <div class="form-group text-center" style="margin-left:225px; margin-top: 100px">
        <label for="sel">Select Region (select one):</label>
          <select class="form-control dropdown-size" id="sel">
            <option>A</option>
            <option>B</option>
            <option>C</option>
            <option>D</option>
          </select>
      </div>
    </form>
  </div>
    
<app-footer></app-footer>

