/* Style the buttons that are used to open and close the accordion panel
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  } */

/* .bs-example{
    margin: 100px;
    margin-top: 100px;
    background-color: black;
    padding: 1em;
}
.collapse{
  display: none;
}
.panel{
margin: 2rem 0;
} */

.bs-example{
  background-color: black;
  padding: 1em;
  /* position: fixed; */
}
.collapse{
display: none;
}
.panel{
margin: 2rem 0;
}

/* .register{
  background: -webkit-linear-gradient(left, black, grey);
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  width: 925px;
  height:400px;
} */
.invalid-feedback {
  color:red;
}