<!-- <div class="container text-center footer-height">
<hr>
<div class="row">
  <div class="col-lg-12">
    <div class="col-md-6">
      <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="#">About us</a></li>
        <li><a routerLink="#">Blog</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="nav nav-pills nav-stacked">
        <li><a routerLink="#">Product Help</a></li>
        <li><a routerLink="#">Developer API</a></li>
      </ul>
    </div>  
  </div>
</div>
<hr>
  <div class="row">
      <div class="col-lg-12">
          <ul class="nav nav-pills nav-justified">
              <li><a routerLink="#">© 2019 MF Expert</a></li>
              <li><a routerLink="#">Terms of Service</a></li>
              <li><a routerLink="#">Privacy</a></li>
          </ul>
      </div>
  </div>
</div> -->
  
    <div class="footer text-center">
        <div class="col-lg-12">
            <div class="col-md-6">
              <ul class="nav nav-pills nav-stacked">
                <li><a routerLink="#">About us</a></li>
                <li><a routerLink="#">Blog</a></li>
              </ul>
            </div>
            <div class="col-md-6">
              <ul class="nav nav-pills nav-stacked">
                <li><a routerLink="#">Product Help</a></li>
                <li><a routerLink="#">Developer API</a></li>
              </ul>
            </div>  
          </div>
          <div class="col-lg-12">
            <ul class="nav nav-pills nav-justified">
              <li><a routerLink="#">© 2019 MF Expert</a></li>
              <li><a routerLink="#">Terms of Service</a></li>
              <li><a routerLink="#">Privacy</a></li>
            </ul>
          </div>
    </div>

 