<app-header></app-header>

<div class="container register" style="margin-top: 225px; margin-left: 100px">
	<div class="row register-form">
		<div class="col-md-6">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="CB Member Name :*" value="" />
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="Select Group :*" value="" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control" placeholder="Member Date :*" value="" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control"  placeholder="Alias Name :*" value="" />
			</div>	
		</div>
		<div class="col-md-6">
			<div class="form-group">
				<input type="email" class="form-control" placeholder="Mobile Number :*" value="" />
			</div>
			<div class="form-group">
				<input type="password" class="form-control"  placeholder="Alias Name :*" value="" />
			<!-- </div>
			<div class="form-group">
					<div class="maxl">
						<label class="radio inline"> Gender
						<input type="radio" name="gender" value="male" checked>
							<span> Male </span> 
						</label>
						<label class="radio inline"> 
							<input type="radio" name="gender" value="female">
							<span>Female </span> 
						</label>
					</div>
				</div>
				<div class="form-group">
						<div class="maxl">
							<label class="radio inline"> Martial Status
							<input type="radio" name="martial status" value="Married" checked>
								<span> Male </span> 
							</label>
							<label class="radio inline"> 
								<input type="radio" name="martial status" value="Divorece">
								<span>Female </span> 
							</label>
							<label class="radio inline"> 
								<input type="radio" name="martial status" value="Widow">
								<span>Female </span> 
							</label>
							<label class="radio inline"> 
								<input type="radio" name="martial status" value="Unmarried">
								<span>Female </span> 
							</label>
						</div>
					</div> -->
			<input type="submit" class="btnSubmit"  value="Submit"/>
		</div>
	</div>
</div>

<!-- <form class="text-center">

	<div class="form-group"> 
		<label for="cb_member_name" class="control-label">CB Member Name: </label>
		<input type="text" class="form-control form-control-inline center-block" id="cb_member_name-id" name="cb_member_name" placeholder=" Type Name">
	</div>	

	<div class="form-group"> 
		<label for="select_group_id" class="control-label">Select Group: </label>
		<input type="text" class="form-control form-control-inline center-block" id="select_group_id" name="select_group_id" placeholder="Type Name">
	</div>					
							
	<div class="form-group"> 
		<label for="member_date_id" class="control-label">Member Date: </label>
		<input type="text" class="form-control form-control-inline center-block" id="member_date_id" name="member_date_id" placeholder="">
	</div>	

	<div class="form-group">
		<label for="name_id" class="control-label">Name (As per Aadhar Card(KYC)): </label>
		<input type="text" class="form-control form-control-inline center-block" id="name_id" name="name_id" placeholder="">
	</div>									

	<div class="form-group">
		<label for="alias_name_id" class="control-label">Alias Name: </label>
		<input type="text" class="form-control form-control-inline center-block" id="alias_name_id" name="alias_name_id" placeholder="">
	</div>

	<div class="form-group">
		<label for="mobile_number_id" class="control-label">Mobile Number: </label>
		<input type="text" class="form-control form-control-inline center-block" id="mobile_number_id" name="mobile_number_id" placeholder="+91">
	</div>
	
	<div class="form-group">
		<label for="gender_id" class="control-label">Gender: </label>
		
			<div class="custom-control custom-radio custom-control-inline">
  			<input type="radio" class="custom-control-input" id="gender_id1" name="gender_id1">
  			<label class="custom-control-label" for="gender_id1">Male</label>
			</div>
			
			<div class="custom-control custom-radio custom-control-inline">
  			<input type="radio" class="custom-control-input" id="gender_id2" name="gender_id2">
  			<label class="custom-control-label" for="gender_id2">Female</label>
			</div> 
	</div>

	<div class="form-group">
		<label for="martial_status_id" class="control-label">Martial Status: </label>
			
			<div class="custom-control custom-radio custom-control-inline">
  			<input type="radio" class="custom-control-input" id="martial_status_id1" name="martial_status_id1">
  			<label class="custom-control-label" for="martial_status_id1">Married</label>
			</div>
			
			<div class="custom-control custom-radio custom-control-inline">
  			<input type="radio" class="custom-control-input" id="martial_status_id2" name="martial_status_id2">
  			<label class="custom-control-label" for="martial_status_id2">Divorece</label>
			</div> 
			<div class="custom-control custom-radio custom-control-inline">
  			<input type="radio" class="custom-control-input" id="martial_status_id3" name="martial_status_id3">
  			<label class="custom-control-label" for="martial_status_id3">Widow</label>
			</div> 
			<div class="custom-control custom-radio custom-control-inline">
  			<input type="radio" class="custom-control-input" id="martial_status_id4" name="martial_status_id4">
  			<label class="custom-control-label" for="martial_status_id4">Unmarried</label>
			</div>
	</div>
	

	<div class="form-group"> Submit Button 
		<button type="submit" class="btn btn-primary">Buy!</button>
	</div>     
	
</form>			 -->

<app-footer></app-footer>